.dn-child-fullsize
{
	height:100%;
	width:100%;
}

.dn-child-fullsize-black
{
	user-select: none;
/*	border: 2px solid red;*/
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 10;
}

.dn-child-fullsize-black::before
{
	content:'';
	background: black;
	width: 100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	opacity:.5;
}

